html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%
}
.logIn {
  height: 100vh;
  width: 100%
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100%;
  width: 100%;
  font-family: sofia-pro, sans-serif;
}
.contentBox {
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.specBar {
  flex: .9;
  min-width: 150px;
}
.mainBox {
  flex: 6;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}
.box {
  position: absolute;
  background: #FFFFFF;
  bottom: 0;
  height: 98.5%;
  max-height: 100%;
  width: 99%;
  left: .5%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
#title {
  margin: 0 auto;
  display: flex;
  padding: 1.5em;
  font-size: 18px;
  transform: translateY(10px)
}
#normFont {
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 18px;
  color: #333028
}
#mainFont {
  letter-spacing: 1px;
  font-weight: 750;
  color: #6648B7;
  padding-left: 5px;
  font-size: 18px;
}
.dropdowns { 
  display: flex;
  width: 400px;
  justify-content: space-between;
}
.actionBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  width: 90%;
  position: relative;
  left: 5%;
  padding-bottom: 15px;
}
.subGraphs {
  width: 97%;
  min-width: 000px;
  display: flex;
  height: 45%;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 1;
}
.leftGraph {
  flex: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 400px;
  min-height: 300px;
  padding-top: 15px
}
.rightGraph {
  flex: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 505px;
  min-height: 300px;
  padding-top: 15px
}
#graph {
  background: linear-gradient(#181818,#020202);
  width: 99%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#graphContent {
  height: 95%;
  width: 96%;
  margin: 0 auto;
  bottom: 0;
}
#graphContent p {
  color: white;
  font-size: 13px;
  padding: 10px 0 0 15px;
  font-weight: 500;
  letter-spacing: 1px;
}
.legend {
  display: flex;
  position: absolute;
  font-size: 10px;
  color: white;
  transform: translate(8px, -25px)
}
#legendModule {
  padding-left: 10px;
  display: flex;
  align-items: baseline;
}
.revenueIcon {
  background: #55C2E8;
  width: 8px;
  height: 3px;
  transform: translate(-3px, -2px)
}
.amountIcon {
  background: #6648B7;
  width: 8px;
  height: 3px;
  transform: translate(-3px, -2px)
}
#gTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
  height: 60px
}
#gTitle img {
  transform: translate(-10px, 7px)
}
.scroll {
  flex: 1.6;
  position: relative;
  min-width: 275px;
  z-index: 2;
}
#dropMenu {
  background: white;
  padding: 5px;
  border: 0;
  font-size: 11px;
  cursor: pointer;
}
#dropMenu:hover {
  background: rgb(171, 154, 218);
  color: white;
}
#hDropMenu {
  background-color: white;
  padding: 5px 5px 5px 15px;
  border: none;
  font-size: 15px;
  outline: none;
  width: 100%;
  text-align: start;
}
#hDropMenu:hover {
  background-color: rgb(171, 154, 218);
  color: white;
}